*{
    color: hotpink;
}

p {
    color: green;
}

span {
    color: red;
}

ul li {
    list-style: circle;
}

a {
    color: black;
!important;
    text-decoration: none;
}

.box {
    width: 200px;
    height: 200px;
    background-color: yellow;
}

#first-text {
    font-size: 30px;
}

.insta {
    color: red;
}

#odin {
    color: blue;
}

/*: *, tag, class, id, inline styles, important*/